

.image{
    position: fixed;
   

    opacity: .8;
    top: 0%;
   width:100vw;
   height: 100vh;
   z-index: 0;

}
.overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: .7 ;
    z-index: 1;

}
.cover{

       position: relative;
    border-radius: 40px;
	background: white;
    z-index: 100000;
    opacity:1;
    
}