<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Profile</title>
</head>
{% load static%}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<style>
    body{
        width: 100vw;
        height: 100vh;
        overflow-x: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('https://wallpaperaccess.com/full/1567665.png');
    }
    li{
        padding: 20px;
        margin-top: -5px;
    }
    .navs{
        font-weight: 500;
        border-radius: 5px;
        position: relative;
        color: black;
      }
      .navs:hover{
        text-decoration: none;
        border-radius: 5px;
        color: white;
        background-color: black;
      }
      label{
        color: white;
      }
      .first{
        position: relative;
        margin-top: 140px;
        left: 33%;
        width: 80%;
      }
</style>
<body>
    {% for i in admin %}

    <div class="top" style="background-color: white;height:70px">
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <h5 style="color: black;margin-bottom:-30px;margin-top:8px;margin-right:10px">Hello, {{i.username}}</h5>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                    <h5><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;">Patient</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/admin/viewpatients/">View</a>
                      <a class="dropdown-item" href="/admin/updatepatients/">Update</a>
                      <a class="dropdown-item" href="/admin/patients/">Create</a>
                      <a class="dropdown-item" href="/admin/deletepatients/">Delete</a>
                    </div>
                  </div>
                </h5>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                    <h5><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;">Doctor</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/admin/viewdoctor/">View</a>
                      <a class="dropdown-item" href="/admin/doctor/">Create</a>
                      <a class="dropdown-item" href="/admin/updatedoctor/">Update</a> 
                      <a class="dropdown-item" href="/admin/deletedoctor/">Delete</a>
                    </div>
                  </div>
                </h5>
              </li>
              <li class="nav-item">
                <div class="dropdown">
                    <h5><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="color:black;">Admin</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                      <a class="dropdown-item" href="/admin/view/">View</a>
                      <a class="dropdown-item" href="/admin/admin/">Create</a>
                      <a class="dropdown-item" href="/admin/deleteadmin/">Delete</a>
                    </div>
                  </div>
                </h5>
              </li>

              <li class="nav-item">
                <h5 style="color: black;"><a type="button" class="btn btn-warning btns"id="btn" href="/admin/logouts/"><b>Logout</b></a></h5>
              </li>
              
        </ul>
        </div>
    {%endfor%}
    <form action="/admin/updatepassadmin/" method="POST">
      {% csrf_token %}
<div class="first">
  <h1 style="color: #fff;margin-left:120px"><i class="bi bi-person-check"></i>&nbsp;Password Section</h1><br/>
    <div class="row g-3" >
      <div class="col-md-6">
        <i class="bi bi-file-earmark-lock2" style="color: white;"></i>&nbsp;&nbsp;<label for="inputEmail4" class="form-label">Old-Password</label>
        <input type="password" class="form-control" placeholder="Old-Password" aria-label="First name" name="old">
      </div>
      </div><br/>
    <div class="row g-3" >
      <div class="col-md-3">
        <i class="bi bi-lock" style="color: white;"></i>&nbsp;&nbsp;<label for="inputEmail4" class="form-label">New-Password</label>
        <input type="password" class="form-control" placeholder="New-Password" aria-label="First name" name="new">
      </div>
      <br/>
      <div class="col-md-3">
        <i class="bi bi-lock" style="color: white;"></i>&nbsp;&nbsp;<label for="inputEmail4" class="form-label">Repeat-Password</label>
        <input type="password" class="form-control" placeholder="Repeat-Password" aria-label="Last name" name="new1">
      </div>
    </div><br/>
    <button type="submit" class="btn btn-secondary" style="margin-left:0px;width:10%">Update</button><br/>

        {% for messages in messages %}
        <div class="alert {{ messages.tags }} alert-dismissible" role="alert" style="text-align: center;width:50%;margin-top:20px;">
 {{messages}}
 </div><br/>
 {% endfor %}
  </form>

</body>
</html>