<body>
    <div class="image"></div>
    <div class="overlay"></div>
        <div class="cover" style="
        height: 93vh;
       ">
            
{% extends 'index.html' %}
{% load crispy_forms_tags %}
{% block content %}

{% load static %} 

<link rel="stylesheet" href="{% static 'new1.css' %}" />


<form action="" method="post" autocomplete="off">
    {% csrf_token %}
    {{ form.fullname|as_crispy_field }}  <br/>
    {{ form.mobile|as_crispy_field }}   <br/>
    <div class="col-md-12">
        <i class='far fa-eye' id="first" style="position:absolute;left:85%;top:58%"  onclick="clicks()" ></i>
        {{ form.Password|as_crispy_field }}
          <br/>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label for="exampleInputPassword1">Repeat-Password*</label>        
        <input type="password" class="form-control" id="exampleInputPassword1" name="password1" required placeholder="Repeat-Password">
        <i class='far fa-eye'  id="second" style="position:absolute;left:85%;top:71%" onclick="clicks1();"></i>
        </div>
    </div>
     {% for messages in messages %}
     <p style="color: red;margin-top:5px">{{messages}} </p>
     {% endfor %}
<button type="submit" class="btn btn-success" style="margin-top: 10px;">Register</button>
</form>
<div class="footer" style="float:right;margin-top:-25px;">
    <p>Fields marked with * are needed</p>
</div><br/>
<div class="signin" style="float: right;">
    Have an account?&nbsp&nbsp<a type="submit" class="btn btn-dark" href="login">Sign in</a>
</div>
<script>
    function clicks(){
        var pass=document.getElementById('id_Password');
        var eye=document.getElementById('first');
        if(pass.type=='password'){
            pass.type='text';
            eye.style.color="lightblue";
    
        }else{
            pass.type='password';
            eye.style.color="black";
        }
    }
    function clicks1(){
        var pass1=document.getElementById("exampleInputPassword1")
        var eye=document.getElementById('second');
        if(pass1.type=='password'){
            pass1.type='text';
            eye.style.color="lightblue";
    
        }else{
            pass1.type='password';
            eye.style.color="black";
        }
    }

</script>
<script src= "{% static 'new.js' %}" type="text/javascript" crossorigin="anonymous"></script>

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock content %}

</div>

</body>